.skills-and-tools {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 150px;
}
/* 
.tools {
  margin-left: 150px;
} */

.star-image {
  position: absolute;
  top: -25px;
  right: 105px;
  width: 195px;
  z-index: 100;
}

.star-image img {
  width: 100%;
  animation: wiggle 3s linear infinite;
}

@keyframes wiggle {

  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(15%);
  }
}

.skills__list,
.tools__list{
  line-height: 150%;
}

.skills__item,
.tools__item {
  position: relative;  
  padding-left: 30px;
}

.skills__item::before,
.tools__item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 5px;
  left: 0;
  background-image: url("../../assets/star2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
}

@media (max-width: 1199px) {
  .skills-and-tools {
    gap: 20px;
  }

  .star-image {
    top: -50px;
    right: 20px;
  }

  .skills {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .star-image {
    display: none;
  }
  .skills,
  .tools {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .skills-and-tools {
    flex-direction: column;
    align-items: flex-start;
  }
  .skills,
  .tools {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}