.skills-and-tools {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.tools {
  margin-left: 150px;
}

.star-image {
  position: absolute;
  top: -25px;
  right: 105px;
  width: 195px;
  z-index: 100;
}

.star-image img {
  width: 100%;
  animation: wiggle 3s linear infinite;
}

@keyframes wiggle {

  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(15%);
  }
}

@media (max-width: 1199px) {
  .star-image {
    top: -50px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  .star-image {
    display: none;
  }
  .skills,
  .tools {
    width: 50%;
  }
  .tools {
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .skills-and-tools {
    flex-direction: column;
    align-items: flex-start;
  }
  .skills,
  .tools {
    width: 100%;
  }
  .tools {
    margin-left: 0;
  }
}