.projects__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__item {
  width: 30%;
  background-color: #fff;
  margin: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.project__link {
  color: #a12cef;
  display: inline-block;
  text-align: center;
}

.projects__item img {
  width: 320px;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.5s ease-out;
}

.projects__item img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

@media (max-width: 1379px) {
  .projects__item img {
    width: 285px;
  }

  .projects__item img:hover {
    transform: scale(1.05);
  }

  .technology {
    width: 100%;
    font-size: 20px;
  }

  .technology__details {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .projects__item img {
    width: 270px;
  }
  .projects__item {
    width: 45%;
  }
  .technology {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .projects__item {
    width: 45%;
    margin: 10px;
    margin-bottom: 20px;
  }
  .projects__item img {
    width: 100%;
  }
  .projects__item img:hover {
    transform: none;
  }
  .technology {
    font-size: 18px;
  }
  .technology__details {
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 479px) {
  .projects__item {
    width: 85%;
    padding-bottom: 10px;
  }
}