.projects__item {
  position: relative;
  width: 30%;
  background-color: #fff;
  margin: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.projects__item .heading--third-level {
  color: #a12cef;
}

.project__year {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 7px;
  font-size: 18px;
  line-height: initial;
  font-weight: bold;
  background-color: #a12cef;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.project__image-block {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.project__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.5s ease-out;
}

.projects__item:hover .project__image {
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}

.project__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
}

.projects__item:hover .project__overlay {
  transition: all 0.5s ease;
  opacity: 1;
}

.project__link { 
  display: inline-block;
  position: absolute;
  width: 180px;
  left: 50%;
  padding: 13px 20px;
  transition: all 0.5s ease;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  font-size: 22px;
  color: #fff;
  z-index: 1000;
}

.project__link--repo {
  top: -25%;
  transform: translateX(-50%) translateY(-25%);
  transition: all 0.5s ease;
  opacity: 0;
}

.project__link--deploy {
  top: 100%;
  transform: translateX(-50%) translateY(100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.projects__item:hover .project__link--repo {
  top: 35%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s ease;
  opacity: 1;
  cursor: pointer;
}

.projects__item:hover .project__link--deploy {
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s ease;
  opacity: 1;
  cursor: pointer;
}

.technologies {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #2b2156;
  text-align: center;
}

.technology {
  margin: 0 5px;
}

.technology__details {
  font-size: 20px;
}

.project__team {
  position: relative;
  margin: 0;
  margin-left: 15px;
  font-size: 18px;
  color: #2b2156;
}

.project__team:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -44px;
  width: 40px;
  height: 20px;
  background-image: url('../../assets/team.png');
  background-repeat: no-repeat;
  background-size: 40px 20px;
}

@media (max-width: 1379px) {
  .technology {
    font-size: 20px;
  }

  .technology__details {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .projects__item {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .projects__item {
    width: 44%;
    margin: 10px;
    margin-bottom: 20px;
  }

  .project__year {
    font-size: 16px;
    top: 0;
  }

  .project__link {
    width: 100px;
    padding: 10px 15px;
    font-size: 18px;
  }

  .projects__item:hover .project__image {
    transform: none;
  }

  .technology {
    font-size: 18px;
  }

  .technology__details {
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 479px) {
  .projects__item {
    width: 100%;
    padding-bottom: 10px;
  }

  .project__link {
    width: 60%;
    font-size: 22px;
  }

}