*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 130%;
  background-color: #bfb2f7;
  background-image: url("assets/back.jpg");
}

a {
  text-decoration: none;
  color: #d1b1fc;
  cursor: pointer;
}

a:active {
  opacity: 0.7;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: 1px solid transparent;
  vertical-align: middle;
}

.wrapper {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 35px;
  background-color: #490477;
  margin-top: 25px;
  border: 5px solid #ed286f;
  border-radius: 15px;
  background-image: url("assets/back3.png");
  background-size: 650px auto;
  background-repeat: no-repeat;
  background-position: bottom 82px right -25px;
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
  align-self: center;
}

.heading--second-level {
  font-size: 36px;
  color: #ffb949;
}

.heading--third-level {
  text-align: center;
  margin-bottom: 23px;
}


@media (max-width: 1379px) {
  .wrapper {
    padding: 25px;
  }

  h1 {
    align-self: flex-start;
  }
}

@media (max-width: 1199px) {
  .wrapper {
    background-size: 590px auto;
  }

  .heading--third-level {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 20px;
  }
  h1 {
    width: 100%;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 48px;
  }
  .heading--second-level {
    font-size: 28px;
}
  .heading--third-level {
    margin-bottom: 15px;
  }
  .wrapper {
    padding: 10px;
    background-size: 388px auto;
  }
}

@media (max-width: 479px) {
  h1 {
    line-height: 130%;
    margin-bottom: 30px;
  }
  .heading--second-level {
    font-size: 30px;
  }
  .wrapper {
    border-radius: 10px;
    border: 3px solid #ed286f;
    background-position: bottom 52px center;
  }
}
